{{#> default }}
<div class="home">
  <h1>Latest Posts</h1>
  <ul class="post-list">
    {{#each (limit (filter pages "type" "post") 10) }}    
    <li>
      <span class="post-meta">{{ dateFormat this.date "MMM D, YYYY" }}</span>
      <h2>
        <a class="post-link" href="/{{ this.path }}">{{this.title}}</a>
      </h2>
      <p>{{{ this.blurb }}}</p>
      <a href="/{{ this.path }}">Read More</a>
    </li>
    {{/each}}
  </ul>
</div>
{{/default}}