<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <description>{{ site.excerpt }}</description>
    <link>{{ config.url }}</link>
    <atom:link href="{{ config.url }}/{{ config.rss_path }}" rel="self" type="application/rss+xml"/>
    <pubDate>TODO</pubDate>
    <lastBuildDate>TODO</lastBuildDate>
    <generator>amplog</generator>
    {{#each pages}}
      <item>
        <title>{{ this.title }}</title>
        <description>{{ this.blurb }}</description>
        <pubDate>{{ this.date }}</pubDate>
        <link>{{ config.url }}/{{ this.path }}</link>
        <guid isPermaLink="true">{{ config.url }}/{{ this.path }}</guid>
      </item>
    {{/each}}
  </channel>
</rss>
