<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{#if page.title }}
  <title>{{ page.title }}</title>
  {{else}}
  <title>{{ config.title }}</title>   
  {{/if}}
  <meta name="description" content="{{ page.excerpt }}" />
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet" type="text/css"/>
  <style type="text/css">{{{ styles.default.content }}}</style>
  <link rel="canonical" href="{{ config.url }}/{{ page.path }}">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
  <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="/{{ config.rss_path }}" />  
  {{#if page.amp_path }}
  <link rel="amphtml" href="{{ config.url }}/{{ page.path_amp }}">
  {{/if}}
</head>

 
    
    